.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;

  .button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 2.5rem; // Tamanho do botão
    height: 2.5rem; // Tamanho do botão
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: #004085;
    }

    .icon {
      font-size: 1.5rem; // Tamanho do ícone
    }
  }

  span {
    font-size: 1rem;
    color: #343a40;
    margin-left: 1rem;
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-left: 0.5rem;
      height: 36px;
      object-fit: cover;
    }
  }
}